@import "../../style.module.scss";

.backGroup {
  margin-bottom: 30px;
  display: inline-flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 16px;
  transition: 0.3s;
  span {
    position: relative !important;
    display: inline-block !important;
  }
  &:hover {
    transition: 0.3s;
    background-color: rgba(151, 179, 231, 0.4);
    & .backIcon {
      transition: 0.3s;
      transform: translateX(-4px);
    }
  }
  .backIcon {
    @include backIcon;
  }
  .backTitle {
    color: var(--text-color);
    font-size: 1.6em;
    font-weight: 500;
  }
}
.formColumn {
  display: flex;
  flex-direction: column;
  .formGroup {
    @include labelInputAccount;
    margin-bottom: 16px;
  }
}
.forgotPassword {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 32px;
  p {
    color: var(--text-color) !important;
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 0;
    &:hover {
      @include hoverText;
    }
  }
}
.disHover:hover {
  pointer-events: none;
}

.subTitleCustom {
  font-size: 1.6em;
  color: #a4a1aa;
  font-weight: 400;
  margin-bottom: 30px;
  display: inline-block;
}
