@import "../../style.module.scss";

.titleShowing {
  h1 {
    font-size: 3.6em;
    color: var(--text-color);
    font-weight: 500;
  }
  p {
    color: var(--text-color);
    font-size: 1.6em;
  }
}
