@import "../../style.module.scss";

.filter {
  @include disflexCenter;
  &Container {
    @include mainLayout;
    margin-top: $marginTopLayOut;
  }
  &Content {
    margin-top: 50px;
    display: flex;
    &Right {
      flex: 0 1 70%;
      display: flex;
      flex-wrap: wrap;
      gap: 24;
    }
  }
}
