@import "../../style.module.scss";

.filterContentLeft {
  flex: 0 1 30%;
  .filterContentFilter {
    margin-bottom: 32px;
    .filterContentFilterCheckBox {
      .container {
        display: block;
        align-items: center;
        position: relative;
        user-select: none;
        cursor: pointer;
        padding: 10px 0 10px 35px;
        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }
        .checkmark {
          position: absolute;
          display: inline-block;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          height: $widthHeightCheckBox;
          width: $widthHeightCheckBox;
          border: 1px solid var(--text-color);
          border-radius: 6px;
          background: transparent;
        }
        p {
          color: var(--text-color);
          font-size: 1.6em;
          font-weight: 500;
          text-transform: capitalize;
        }
      }
    }
  }
  .filterContentProduct {
    &Title {
      color: var(--text-color);
      font-size: 1.8em;
      text-transform: capitalize;
      font-weight: 600;
      margin-bottom: 16px;
      display: flex;
      flex-direction: column;
    }
  }
}
