@import "../../style.module.scss";

.checkIcon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: $widthHeightCheckBox;
  width: $widthHeightCheckBox;
  display: flex;
  align-items: center;
  justify-content: center;
}
