@import "../../style.module.scss";

.bestSellerItems {
  // box-shadow: 0 -2px 40px rgba(0, 0, 0, 0.12);
  max-width: $widthTemplateProductItem;
  max-height: $heightTemplateProductItem;
  width: 100%;
  display: block;
  flex: 0 0 25%;
  padding: 0 0 20px 0;
  &Image {
    overflow: hidden;
    position: relative !important;
    .picture {
      transition: 0.4s ease;
      position: relative !important;
      max-height: $heightTemplateProductImage;
      width: 100%;
    }
    .iconHeart {
      position: absolute;
      right: 8px;
      top: 20px;
      display: none;
    }
    .bestSellerItemsSale {
      position: absolute;
      top: 20px;
      left: 0;
      p {
        background-color: var(--template-product-discount-color);
        color: var(--white-color);
        text-align: center;
        font-size: 1.2em;
        font-weight: 600;
        text-transform: uppercase;
        padding: 6px 12px;
      }
    }
  }
  .bestSellerItemsAdd {
    h3 {
      height: 100%;
      display: flex;
      align-items: center;
    }
    @include disflexCenter;
    overflow: hidden;
    height: 0;
    text-align: center;
    transition: 0.1s linear;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--white-color);
    font-size: 1.6em;
    font-weight: 400;
    cursor: pointer;
    &:hover {
      background-color: var(--template-product-color);
    }
  }
  &:hover {
    .iconHeart {
      display: block;
    }
    .picture {
      transition: 0.4s ease;
      transform: scale(1.04);
    }
    .bestSellerItemsAdd {
      transition: 0.1s linear;
      height: 40px;
    }
  }
  .bestSellerItemsSubTitle {
    margin: 18px 10px 0 10px;
  }
  &Title {
    h1 {
      color: var(--text-color);
      font-size: 1.6em;
      font-weight: 600;
      text-transform: capitalize;
    }
  }
  &TypeAndPrice {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    p {
      font-size: 1.6em;
      font-weight: 500;
      text-transform: capitalize;
      color: var(--template-product-color);
    }
    .bestSellerItemsDiscount {
      display: flex;
      font-weight: 500;
      .price {
        font-size: 1.6em;
        color: var(--template-product-color);
      }
      .discount {
        font-size: 1.6em;
        color: var(--template-product-discount-color);
        margin-left: 12px;
      }
    }
  }
}

.iconHeartSvg.active {
  fill: var(--template-product-discount-color) !important;
}
