@import "../../style.module.scss";

.column {
  display: block;
  padding: 0 $paddingItemCard;
  margin-bottom: 24px;
}

.iconHeartSvg.active {
  fill: var(--template-product-discount-color) !important;
}
