@import "../../style.module.scss";

.cardProductItems {
  &Image {
    .picture {
      max-height: $heightTemplateProductImage;
    }
  }
  // .cardProductItemsAdd {
  //   @include disflexCenter;
  //   overflow: hidden;
  //   height: 0;
  //   text-align: center;
  //   transition: 0.1s linear;
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   background-color: #0000004d;
  //   color: var(--white-color);
  //   font-size: 1.6em;
  //   font-weight: 400;
  //   cursor: pointer;
  //   &:hover {
  //     background-color: var(--template-product-color);
  //   }
  // }
  &:hover {
    .iconHeart {
      display: block;
    }
    .picture {
      transition: 0.4s ease;
      transform: scale(1.04);
    }
    .cardProductItemsAdd {
      transition: 0.1s linear;
      height: 40px;
    }
  }
  .cardProductItemsSubTitle {
    margin: 18px 10px 0 10px;
  }
  &Title {
    h1 {
      color: var(--text-color);
      font-size: 1.6em;
      font-weight: 600;
      text-transform: capitalize;
    }
  }
  &Sub {
    margin: 6px 0;
    h1 {
      color: var(--text-color);
      font-size: 1.5em;
      font-weight: 500;
      text-transform: capitalize;
    }
  }
  &TypeAndPrice {
    display: flex;
    justify-content: space-between;
    p {
      font-size: 1.6em;
      font-weight: 500;
      text-transform: capitalize;
      color: var(--template-product-color);
    }
    .cardProductItemsDiscount {
      display: flex;
      font-weight: 500;
      .price {
        font-size: 1.6em;
        color: var(--template-product-color);
      }
      .discount {
        font-size: 1.6em;
        color: var(--template-product-discount-color);
        margin-left: 10px;
      }
    }
  }
}

.column {
  display: block;
  padding: 0 $paddingItemCard;
  margin-bottom: 24px;
}

.iconHeartSvg.active {
  fill: var(--template-product-discount-color) !important;
}
