@import "../../style.module.scss";

.headerContainer {
  @include disflexCenter;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f3f4f4;
  z-index: 100;
  .navigationContainer {
    @include mainLayout;
    display: flex;
    .navigation {
      height: 80px;
      margin: auto 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      &Left {
        display: flex;
        align-items: center;
        height: 100%;
        a {
          position: relative !important;
          .logo {
            position: relative !important;
            max-width: 80% !important;
          }
        }
      }
      .navigationCenter {
        .navigationList {
          display: flex;
          position: relative;
          .line {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 3px;
            border-radius: 20px;
            background-color: var(--text-color);
            transition: all 0.2s ease;
          }
          .navigationItem {
            color: var(--template-product-color);
            font-size: 1.6em;
            margin: 0 20px;
            text-transform: capitalize;
            cursor: pointer;
            font-weight: 600;
            padding: 4px 10px;
            &.active,
            &:hover {
              color: var(--text-color) !important;
            }
          }
        }
      }
      &Right {
        .navigationUser {
          display: flex;
          .navigationUserItem {
            margin-right: 6px;
            cursor: pointer;
            padding: 10px;
            border-radius: 50%;
            position: relative;
            &Search {
              $width: calc(100% + 7px);
              position: absolute;
              top: $width;
              right: 0;
              transform-origin: 90% top;
              animation: showOut 0.3s ease !important;
              z-index: 1;
              display: none;
              input {
                padding: 10px 20px;
                font-size: 1.6em;
                outline: none;
                color: var(--text-color);
                border: 1px solid var(--btn-color);
                border-radius: 12px;
                min-width: 260px;
                max-width: 260px;
                width: 100%;
              }
            }
            &:hover {
              background-color: #e3e7f3;
              transition: 0.2s;
            }
            .logo {
              position: relative !important;
            }

            &:nth-child(1) {
              .logo {
                max-width: 24px;
              }
            }
            &:nth-child(2) {
              .logo {
                max-width: 22px;
              }
            }
            &:nth-child(3) {
              .logo {
                max-width: 22px;
              }
            }
          }
          $marginLeftBtnUser: 12px;
          button {
            background-color: var(--btn-color);
            display: inline-block;
            padding: 12px 28px;
            border-radius: 8px;
            font-size: 1.2em;
            margin-left: $marginLeftBtnUser;
            &:hover {
              @include hoverBtn;
            }
          }
          .navigationNameUser {
            display: flex;
            align-items: center;
            cursor: pointer;
            h3 {
              color: var(--text-color);
              font-size: 2em;
              margin-left: $marginLeftBtnUser;
            }
          }
        }
      }
    }
  }
}

.showSearch {
  display: block !important;
}
