@import "../../style.module.scss";

@import "../../style.module.scss";

.detail {
  @include disflexCenter;
  &Container {
    @include mainLayout;
    margin-top: $marginTopLayOut;
  }
  &Buy {
    margin-top: 50px;
    display: flex;
    &Left {
      display: flex;
      flex-direction: column;
      flex: 0 1 50%;
      align-items: center;
      &Image {
        position: relative !important;
        max-width: 400px;
        display: flex;
        width: 100%;
        .picture {
          position: relative !important;
          width: 100%;
        }
      }
      &Review {
        display: flex;
        &Item {
          position: relative !important;
          max-width: 110px;
          width: 100%;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }
          .picture {
            width: 100%;
            position: relative !important;
          }
        }
      }
    }
    &Right {
      flex: 0 1 50%;
      margin-left: 30px;
      &Title {
        display: flex;
        justify-content: space-between;
        div {
          display: flex;
        }
        h1 {
          color: var(--text-color);
          font-weight: 700;
          font-size: 2.6em;
        }
        &Stock {
          background-color: #e2f8e2;
          display: flex;
          align-items: center;
          padding: 8px 16px;
          border-radius: 10px;
          h5 {
            color: #3cd139;
            font-size: 1.4em;
            font-weight: 500;
          }
        }
        &Heart {
          display: flex;
          align-items: center;
          margin-right: 16px;
          .iconHeart {
            cursor: pointer;
          }
        }
      }
      $marginTopProductDetail: 8px;
      &Type {
        margin-top: $marginTopProductDetail;
        h4 {
          color: var(--text-color);
          font-weight: 400;
          font-size: 1.6em;
        }
      }
      &Price {
        margin-top: $marginTopProductDetail;
        h4 {
          color: var(--text-color);
          font-weight: 500;
          font-size: 1.6em;
        }
      }
      &Description {
        margin-top: $marginTopProductDetail + 8px;
        p {
          color: var(--text-color);
          font-weight: 400;
          font-size: 1.4em;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
      $widthAndHeightColorSize: 34px;
      &Color {
        margin-top: $marginTopProductDetail + 8px;
        h3 {
          color: var(--text-color);
          font-size: 1.6em;
          font-weight: 600;
        }
        &List {
          margin-top: 8px;
          display: flex;
        }
        &Item {
          background-color: #e15353;
          width: $widthAndHeightColorSize;
          height: $widthAndHeightColorSize;
          border-radius: 4px;
          margin-right: 8px;
          cursor: pointer;
        }
      }
      &Size {
        margin-top: $marginTopProductDetail + 8px;
        h3 {
          color: var(--text-color);
          font-size: 1.6em;
          font-weight: 600;
        }
        &List {
          display: flex;
          margin-top: 8px;
        }
        &Item {
          text-transform: uppercase;
          color: var(--text-color);
          margin-right: 8px;
          border: 1px solid #727074;
          font-size: 1.4em;
          width: $widthAndHeightColorSize;
          height: $widthAndHeightColorSize;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }
      &AddToCard {
        margin-top: $marginTopProductDetail + 20px;
        display: flex;
        &Number {
          div {
            display: inline-flex;
            position: relative !important;
            align-items: center;
            border: 1px solid var(--btn-color);
            padding: 4px 8px;
            border-radius: 10px;
            input {
              outline: none;
              color: var(--text-color);
              padding: 8px;
              font-size: 1.4em;
              max-width: 40px;
              font-weight: 500;
              text-align: center;
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            .logo {
              position: relative !important;
              width: 24px !important;
              height: 24px !important;
              cursor: pointer;
            }
          }
        }
        &Btn {
          margin: 0 16px;
          display: flex;
          align-items: center;
          background-color: var(--btn-color);
          border-radius: 10px;
          max-width: 300px;
          width: 100%;
          button {
            text-align: center;
            width: 100%;
            font-size: 1.4em;
          }
        }
      }
    }
  }
  &Description {
    margin-top: 80px;
    &Navigation {
      display: flex;
      font-weight: 400;
      margin-bottom: 20px;
      color: var(--template-product-color);
      text-transform: capitalize;
      font-size: 2em;
      font-weight: 500;
      & > div {
        padding-bottom: 8px;
        margin-right: 16px;
        position: relative;
        cursor: pointer;
        &:hover {
          color: var(--text-color);
        }
      }
      .detailDescriptionItem.active {
        color: var(--text-color);
        &::before {
          position: absolute;
          content: "";
          width: 100%;
          height: 4px;
          bottom: 0;
          background-color: var(--text-color);
          border-radius: 4px;
        }
      }
    }
    &Content {
      color: var(--text-color);
      p {
        font-size: 1.4em;
        line-height: 2em;
      }
    }
  }
}
