@import "../../style.module.scss";

.formColumn {
  display: flex;
  flex-direction: column;
  .formGroup {
    @include labelInputAccount;
    margin-bottom: 16px;
  }
}
.forgotPassword {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 32px;
  p {
    color: var(--text-color) !important;
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 0;
    &:hover {
      @include hoverText;
    }
  }
}
