@import "../../style.module.scss";

.cartContainer {
  @include mainLayout;
  margin-top: $marginTopLayOut;
  .hiddenTextTitle {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}
