@import "../../style.module.scss";

.cart {
  @include disflexCenter;
  &Container {
    @include mainLayout;
    margin-top: $marginTopLayOut;
  }
  &Title {
    h1 {
      font-size: 3.6em;
      font-weight: 500;
      text-transform: uppercase;
      color: var(--text-color);
    }
  }
  &Content {
    margin-top: 40px;
    display: flex;
    &Left {
      flex: 0 1 70%;
      table {
        tbody {
          th,
          td {
            width: 100%;
            padding: 10px;
          }
          .title {
            th {
              color: var(--text-color);
              font-size: 1.6em;
              text-transform: capitalize;
              text-align: start;
            }
          }
          .content {
            .product {
              display: flex;
              div:nth-child(1) {
                position: relative !important;
                .image {
                  position: relative !important;
                  max-width: 100px;
                  max-height: 100px;
                }
              }
              div:nth-child(2) {
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h3 {
                  color: var(--text-color);
                  font-size: 1.6em;
                  font-weight: 800;
                  display: -webkit-box;
                  overflow: hidden;
                  -webkit-line-clamp: 1;
                  -webkit-box-orient: vertical;
                  max-width: 400px;
                }
                p {
                  font-size: 1.5em;
                  color: var(--text-color);
                  font-weight: 400;
                }
              }
            }
            .price,
            .quantity,
            .subtotal {
              color: var(--text-color);
              font-size: 1.6em;
              text-align: start;
            }
            .quantity {
              text-align: center !important;
            }
          }
        }
      }
    }
    &Right {
      flex: 0 1 30%;
      margin-top: 10px;
      margin-left: 100px;
      & > div {
        display: flex;
        justify-content: space-between;
        font-size: 1.6em;
        margin-bottom: 16px;
        h1 {
          text-transform: capitalize;
          color: var(--text-color);
          font-weight: 700;
        }
        h3 {
          font-weight: 700;
          color: var(--text-color);
        }
      }
      .subtotal {
        margin-bottom: 50px !important;
      }
      .delivery {
        h1,
        h3 {
          font-weight: 500 !important;
        }
      }
      .btnCheckout {
        button {
          margin-top: 10px;
          color: var(--white-color);
          background-color: var(--btn-color);
          width: 100%;
          padding: 14px;
          border-radius: 10px;
          &:hover {
            @include hoverBtn;
          }
        }
      }
    }
  }
}
