// @mixin hoverBtn {
//   transition: 0.4s ease;
//   opacity: 0.9;
// }

// @mixin hoverText {
//   transition: 0.4s ease;
//   opacity: 0.8;
// }

@keyframes showOut {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

// @keyframes showIn {
//   100% {
//     transform: scale(1);
//     opacity: 1;
//   }
//   0% {
//     transform: scale(0);
//     opacity: 0;
//   }
// }

@keyframes Scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
