// // space
// $marginTopLayOut: 80px;
// $marginItemCard: -12px;
// $paddingItemCard: 12px;

// // width
// $widthTemplateProductItem: 312px;

// // height
// $heightTemplateProductItem: 500px;
// $heightTemplateProductImage: 400px;

// // width and height

// $widthHeightCheckBox: 22px;
