@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --black-color: black;
  --white-color: white;
  --text-color: #131118;
  --btn-color: #131118;
  --template-product-color: #00000080;
  --template-product-discount-color: #ff6f61;
  scroll-padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --black-color: black;
    --white-color: white;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #b2b5b9;
}
body::-webkit-scrollbar-track {
  background-color: #f3f4f4;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
