@import "./style.module.scss";

.brand {
  @include disflexCenter;
  &Container {
    @include mainLayout;
    margin-top: $marginTopLayOut;
    overflow: hidden;
    .marquee {
      display: flex;
      overflow: hidden;
      user-select: none;
      mask-image: linear-gradient(
        var(--mask-direction, to right),
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 1) 6%,
        hsl(0 0% 0% / 1) 92%,
        hsl(0 0% 0% / 0)
      );
      .brandList {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        min-width: 100%;
        animation: Scroll 16s linear infinite;
        .brandItem {
          position: relative !important;
          // flex: 0 20%;
          .logo {
            position: relative !important;
            min-width: 200px !important;
            max-height: 70px;
          }
        }
      }
    }
  }
}

@keyframes Scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
