@import "./style.module.scss";

.banner {
  @include disflexCenter;
  .bannerContainer {
    @include mainLayout;
    margin-top: $marginTopLayOut;
    display: flex;
    .bannerLeft {
      flex: 0 0 50%;
      .bannerLeftTitle {
        h1 {
          font-size: 6em;
          font-weight: 500;
          text-transform: capitalize;
          color: var(--text-color);
        }
        margin-bottom: 10px;
      }
      .bannerLeftDescription {
        p {
          font-size: 2.4em;
          font-weight: 300;
          text-transform: capitalize;
          color: var(--text-color);
        }
        margin-bottom: 40px;
      }
      .bannerLeftButton {
        display: inline-block;
        a {
          background-color: var(--btn-color);
          position: relative !important;
          display: inline-flex;
          padding: 10px 20px;
          border-radius: 8px;
          align-items: center;
          button {
            font-size: 1.6em;
            margin-right: 10px;
          }
          .icon {
            position: relative !important;
            max-width: 20px;
            transition: 0.4s;
          }
        }
        &:hover {
          @include hoverBtn;
          .icon {
            transform: translateX(6px);
            transition: 0.4s;
          }
        }
      }
    }
    .bannerRight {
      flex: 0 0 50%;
    }
  }
}
