@import "../../style.module.scss";

.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  &Page {
    margin: 0 6px;
    ul {
      display: flex;
      a {
        margin: 0 8px;
        display: inline-block;
        width: 45px;
        height: 45px;
        border-radius: 8px;
        color: var(--text-color);
        font-size: 1.8em;
        border: 1px solid var(--text-color);
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background-color: #e3e7f3;
          transition: 0.2s ease;
        }
        &.active {
          background-color: var(--btn-color);
          color: var(--white-color);
        }
      }
    }
  }
  &IconLeft,
  &IconRight {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
      background-color: #e3e7f3;
    }
  }
}
