.inputAccount {
  min-width: 445px;
  width: 100%;
  padding: 16px;
  font-size: 1.6em;
  border: 1px solid var(--btn-color);
  border-radius: 12px;
  outline: none;
  color: var(--text-color);
  font-weight: 600;
}
