@import "../../../style.module.scss";

.main {
  display: flex;
  .formImage {
    width: 50%;
    .logo {
      z-index: 1;
      max-width: 143px !important;
      height: 58px !important;
      margin: 40px 0 0 40px;
    }
    .image {
      position: relative !important;
      width: 100%;
      max-height: 100vh;
      height: 100%;
      object-fit: cover;
      object-position: 50% 10%;
    }
  }
  .formLogin {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include formContainer;
  }
}
