@import "../../style.module.scss";

.like {
  @include disflexCenter;
  &Container {
    @include mainLayout;
    margin-top: $marginTopLayOut;
  }
  &Content {
    margin-top: 16px;
  }
  &List {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}
