@import "../../style.module.scss";

.detailPageNavigation {
  color: var(--text-color);
  font-size: 1.6em;
  font-weight: 500;
  position: relative !important;
  display: flex;
  align-items: center;
  a {
    color: #05a;
  }
  .icon {
    margin: 0 4px;
    position: relative !important;
    max-width: 16px;
    max-height: 16px;
  }
}
