@import "../../style.module.scss";

.btnLogin {
  background-color: var(--btn-color);
  padding: 16px;
  font-size: 1.6em;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  &:hover {
    @include hoverBtn;
  }
}
